h1{
    color:#502419;
}

h6{
    background-color:#C46D5E;
    color:#502419;
}

p{
    color:#33673B;
}

html
{
    background-color:#C7CB85;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}